:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

html {
  /* Custom scrollbar for all scrollable elements */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #a7c5dd #f0f0f0; /* Thumb color and track color for Firefox */
}

/* For WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 1px; /* Scrollbar width */
}

::-webkit-scrollbar-track {
  background: #a7c5dd; /* Track background color */
  border-radius: 8px; /* Optional: Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background: #a7c5dd; /* Thumb color */
  border-radius: 8px; /* Optional: Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #a7c5dd; /* Thumb color on hover */
}
